@import "./variables.scss";

.footer {
    // Position
    position: absolute;
    z-index: 99;
    bottom: 0;

    // Display & Colour
    width: 100%;
    height: 40px;

    background-color: $dark-color;
  
    .text {
        padding: 10px;

        color: white;
        font-size: 11pt;
        text-align: center;
    }
  }