html {
  font-family: 'Quicksand', sans-serif !important;
  letter-spacing: 2px;

  background-image: url("./images/background.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

a {
  color: #F199B6;
  font-weight: 800;
  text-decoration: none;

  &:hover {
    color: #4D4145;
  }
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
