html {
  font-family: 'Quicksand', sans-serif !important;
  letter-spacing: 2px;

  background-image: url("./images/background.png");
  background-repeat: repeat;

  // background-image: radial-gradient( circle farthest-corner at -1.7% -2.7%,  rgb(255, 146, 161) 0%, rgb(204, 124, 168) 90% );

  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
